<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Bio Data Form
    </title>

    <!-- bootstrap css cdn from cdnjs -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/css/bootstrap.min.css" integrity="sha512-T584yQ/tdRR5QwOpfvDfVQUidzfgc2339Lc8uBDtcp/wYu80d7jwBgAxbyMh0a9YM9F8N3tdErpFI8iaGx6x5g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    {% load widget_tweaks %}
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8 my-4">
                <div class="card">
                    <div class="card-body">
                        <h3 class="text-center py-2">
                            STEP {{ step }}/2
                        </h3>
                        <h4 class="py-2">
                            Bio Data Form
                        </h4>
                        <form action="" method="post">
                            {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <div class="py-4  alert alert-danger alert-dismissable">
                                        {{ error|escape }}
                                    </div>
                                {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                <div class="py-4 alert alert-danger alert-dismissable">
                                        {{ error|escape }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                            {% csrf_token %}
                            <div class="row">
                            {% for field in form %}

                                <div class="col-lg-6">
                                 <label for="">
                                    {{ field.label_tag }}
                                </label>
                                {{ field|add_class:'form-control my-2' }}   
                                </div>
                            {% endfor %}
                                
                            </div>
                            
                           
                            <div class="row">
                                
                                <div class="col-lg-5 my-2">
                                    <a href="{% url 'multistepform:clear-form' %}" class="btn btn-danger btn-block py-3">
                                        Cancel
                                    </a>
                                </div>
                                <div class="col-lg-1"></div>
                                <div class="col-lg-1"></div>
                                <div class="col-lg-5 my-2">
                                    <button class="btn btn-success btn-block py-3">
                                        Next
                                    </button>
                                </div>
                                
                            </div>
                        </form>
                    </div>
                </div>
                
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/js/bootstrap.min.js"></script>
</body>
</html>