<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Feedback 
    </title>

    <!-- bootstrap css cdn from cdnjs -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/css/bootstrap.min.css" integrity="sha512-T584yQ/tdRR5QwOpfvDfVQUidzfgc2339Lc8uBDtcp/wYu80d7jwBgAxbyMh0a9YM9F8N3tdErpFI8iaGx6x5g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8 my-4">
                <div class="card">
                    <div class="card-body text-center ">
                        <h3 class="py-2">
                            Cancelled
                        </h3>
                        <p>
                            All your data has been removed.
                        </p>
                        <a href="{% url 'multistepform:none-step' %}" class="btn btn-success">
                            Start Again
                        </a>
                    </div>
                </div>
                
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/js/bootstrap.min.js"></script>
</body>
</html>